extend layout/layout
block content 

    section#screen1Contact
      .col-md-9.c1
        h1.col-md-6 CONTACT US

        p.contText3.col-md-12.mb-5 Interested in working together? Fill out the Project Inquiry form below with some information about your project.
        
        form(action="/landing", method="post")              
          .form-group.col-md-6
            input.fieldContact(type="text", name="user", placeholder="Name" required)             
          .form-group.col-md-6
            input.fieldContact(type="email" name="email" placeholder="E-mail" required)
          .form-group.col-md-12       
            textarea.fieldContact.textArea(name="message" placeholder="Project information" required)

          .form-group.shake.col-md-7
            input.boton(type="submit", value="ENVIAR")
      .col-md-3.c2
        .contactInfo.center-block
          h4 E-MAIL 
          h5 info@argedasolutions.com
          hr 
          h4 TELEPHONE
          h5 786 380 0613
          hr 
          h4 ADRESS
          h5 9140 Collins Ave
          h5 33154, SURFSIDE
          h5 Florida, USA
          hr
          h5 Registro 5891-589 CYC 
          



    
    

    script(src="/js/classie.js")
    script(src="/js/slide.js")