extend layout/layout
block content   

    

    section#screen1     
      .container.bounceLeft
        .col-sm-8.col-sm-offset-2.introText.introArgeda.mt-35
          p "Ayudamos a companias a reinventar su negocio, forjando relaciones más valiosas y rentables con sus clientes pasados, presentes y futuros a través de la diferenciación competitiva en la experiencia digital que brindan."
          a.ourServices.center-block.mt-4(href="#") OUR SERVICES 

    
    section#screen2        
      .container
        .col-sm-8.col-sm-offset-2
          .col-sm-12.why.mb-10
            .col-sm-12
              button.col-sm-6.mt-2#one(onclick="text()") WHY WE DO IT? 
              button.col-sm-6.mt-2.mb-2#two(onclick="olp()") WHAT WE DO?
            p.col-sm-12.contText3.mt-5#textDyno En un mundo donde los clientes son bombardeados con muchas opciones, se espera que las empresas provean experiencias atractivas y recompensen a sus clientes por su lealtad. Empresas que ignoran este hecho tenderán a no sobrevivir.



    section#screen3
      .container
        .col-sm-8.col-sm-offset-2.mb-5
          

          .col-md-6.service.mt-5
            a.socialIconBar(href="http://instagram.com/canned.head" target="_blank")
              img.center-block(src="img/social3.svg")
            hr 
            a.serviceTitle DESIGN - BUILD
            p.contText3 When you partner with RCD General Contractors for your building or renovation projects, you'll enjoy the benefits of our experience, exceptional service and impeccable track record of success withworld-class, high-profile brands like.
            a MORE INFO

          .col-md-6.service.mt-5
            a.socialIconBar(href="http://instagram.com/canned.head" target="_blank")
              img.center-block(src="img/social3.svg")
            hr 
            a.serviceTitle CONSTRUCTION MANAGEMENT
            p.contText3 When you partner with RCD General Contractors for your building or renovation projects, you'll enjoy the benefits of our experience, exceptional service and impeccable track record of success withworld-class, high-profile brands like.
            a MORE INFO

          .col-md-6.service.mt-5
            a.socialIconBar(href="http://instagram.com/canned.head" target="_blank")
              img.center-block(src="img/social3.svg")
            hr 
            a.serviceTitle CONSULTING
            p.contText3 When you partner with RCD General Contractors for your building or renovation projects, you'll enjoy the benefits of our experience, exceptional service and impeccable track record of success withworld-class, high-profile brands like.
            a MORE INFO
        
          .col-md-6.service.mt-5
            a.socialIconBar(href="http://instagram.com/canned.head" target="_blank")
              img.center-block(src="img/social3.svg")
            hr 
            a.serviceTitle PROJECT MANAGEMENT
            p.contText3 When you partner with RCD General Contractors for your building or renovation projects, you'll enjoy the benefits of our experience, exceptional service and impeccable track record of success withworld-class, high-profile brands like.
            a MORE INFO
        
      

    


      
        

    script(src="/js/classie.js")
    script(src="/js/slide.js")  
    script.
  
      var text1 ="Ayudamos a companias a reinventar su negocio, forjando relaciones más valiosas y rentables con sus clientes pasados, presentes y futuros a través de la diferenciación competitiva en la experiencia digital que brindan.";
      var text2 ="Ayudamos a companias a reinventar su negocio, forjando relaciones más valiosas y rentables con sus clientes pasados, presentes y futuros a través de la diferenciación competitiva en la experiencia digital que brindan22.";
      


      function text(){
        $("#textDyno").html(text1);
      }

      function olp(){
       $("#textDyno").html(text2);
      }

    script.
       $("#screen1").backstretch(["http://s5.postimg.org/dkrwnx7h3/1slide.jpg","http://s5.postimg.org/oyefz4hzr/2slide.jpg"], {duration: 3000, fade: 750});

      


     
      

  

    

      
 
     


    

    

    
  