doctype html
html
    head
        link( rel="stylesheet" href="/css/style.min.css" type="text/css")
        link( rel="stylesheet" href="/css/styles.css" type="text/css")
        link( rel="stylesheet" href="/css/bootstrap.css" type="text/css")
        link(href="img/16x16.png" rel="shortcut icon" type="image/png")   

        script(type="text/javascript" src="/js/jquery.min.js")
        script(type="text/javascript" src="/js/jquery-ui.min.js")
        script(type="text/javascript" src="/js/form.min.js")
        script(type="text/javascript" src="/js/wide-video.js")
        script(type="text/javascript" src="/js/bootstrap.min.js")     
    
        meta(charset="utf-8")        
        meta(property="og:type" content="website")
        meta(property="og:title" content="")
        meta(property="og:image" content="https://s3.amazonaws.com/cannedhead.temp/cannedhead.png")
        meta(property="og:description" content="")
        meta(property="og:url" content="http://www.cannedhead.com")
        meta(content="" name="author")
        meta(content="width=device-width, initial-scale=1" name="viewport")   
        link(href="/img/favicon.ico" rel="shortcut icon" type="image/png")     
        title Cannedhead        
    body     
        
        div#video(style="z-index:-3") 
        div#images(style="z-index:-3") 
                        
        .col-md-6.left-panel
            .container-fluid
                .col-md-12.col-sm-12.col-xs-12
                    .col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.landing_logo
                        object(data="img/logo.svg" type="image/svg+xml") 
                            <!--[if lte IE 8 ]-->
                            img(src="img/logo.gif")
                            <!--![endif]-->
                
                p.col-md-8.col-md-offset-2.landing_hero hardware &#8226; software &bull; ideas
                p.col-md-8.col-md-offset-2.landing_text It´s a beer? It´s a Soda? It´s a Can? No! It´s Canned Head! The only company where you can find the best developers in the world to create your hardware and software dreams. Not only that! You can find ideas growing like trees and development projects that can change reality itself and turn you into other dimensions... really, it´s a little scary. So fill the gaps and let us put your head in a Can.
        
                object(data="img/scroll.svg" type="image/svg+xml" class="d-scroll")#d-scroll 
                    <!--[if lte IE 8 ]-->
                    img(src="img/scroll.gif")
                    <!--![endif]--> 
        
        .col-md-6.right-panel
                .col-md-12.col-sm-12.col-xs-12
                    object.col-xs-12.col-sm-4.col-sm-offset-4.col-md-6.col-md-offset-3.letswork(data="img/letswork.svg" type="image/svg+xml") 
                        <!--[if lte IE 8 ]-->
                        img(src="img/letswork.gif")
                        <!--![endif]--> 
                .col-md-12
                    .form      
                    h2.landing_hero Any idea? Write us or just say Hello.
                    form(action="/landing", method="post")              
                        .form-group
                            input.form-control(type="text", name="user", placeholder="name" required)             
                        .form-group
                            input.form-control(type="email" name="email" placeholder="email" required)
                        .form-group                  
                            textarea.form-control.textarea(name="message" placeholder="message" required)
            
                        input.boton.btn-block.btn-lg(type="submit", value="SEND")    
        script(src="//www.google-analytics.com/analytics.js" async="")           
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-44994249-1', 'cannedhead.com');
              ga('send', 'pageview');

            // Remove no-script background image
            document.body.style.backgroundImage = 'none';

            // Avoid cropped background when the page has y-overflow
            fixBackgroundHeight();

            window.onresize = function()
            {
                var wh = $(window).height();
                var ww = $(window).width();
                var ratio = wh/ww;

                // Avoid cropped background when the page has y-overflow
                fixBackgroundHeight();

                // Resize the background items
                if(!mobileCheck())
                {
                    sizeVideoBg(ratio);
                    sizeVideo(ratio);
                }
                else
                {
                    sizeImage(ratio);
                }
            };

            // Load first video
            loadMediaFirst();

            // Waits till the page ends loading
            $(window).bind('load', function()
            {
                // Avoid cropped background when the page has y-overflow
                fixBackgroundHeight();

                // Start to load the assets
                loadMediaSecond();

                setTimeout("first_slide_ocurred = true;", 4300);

                setTimeout(function()
                {
                    if(first_video_loaded && second_video_loaded)
                    {
                        console.log('Enough bandwidth to load videos');
                        enough_bw = true;
                    }
                    else
                    {
                        $('video').html('');
                    }
                }, 4600);

                if(!mobileCheck())
                {
                    loopVideo();
                }
                else
                {
                    loopImage();
                }
            });
        
