doctype html
html(lang='en')
  head
    title Portfolio
    link(href='/css/portfolio.css', rel='stylesheet')

  body
    
    .wrap1
      .swipe1#ourslider1
        .swipe-wrap1
          div
            img(src="/img/image1.jpg")
          div
            img(src="/img/image1.jpg")
          div
            img(src="/img/image1.jpg")
          div
            img(src="/img/image1.jpg")
          div
            img(src="/img/image1.jpg")
    .wrap2          
      .swipe2#ourslider2
        .swipe-wrap2
          div
            img(src="/img/image2.jpg")
          div
            img(src="/img/image2.jpg")
          div
            img(src="/img/image2.jpg")
          div
            img(src="/img/image2.jpg")
          div
            img(src="/img/image2.jpg")

    script(src="/js/swipe.js", type="text/javascript")
    script.
      
      ob1 = new Swipe(document.getElementById('ourslider1'),{
        startSlide:4,
        speed: 400,
        auto: 5000,
        continuous: true  
      });

      ob2 = new Swipe(document.getElementById('ourslider2'),{
        startSlide:4,
        speed: 400,
        auto: 5000,
        continuous: true  
      });

      
      document.onkeydown = function(e){
        e = e || window.event;

        if (e.keyCode == '38') {
          // up arrow
          console.log('up');
          ob1.next();
          ob2.prev();
        }
        else if (e.keyCode == '40') {
          // down arrow
          console.log('down');
          ob1.prev();
          ob2.next();         
         }   
        };
      
      var proportion = 686/1280;
      var myWidth = 0, myHeight = 0;
      
      if( typeof( window.innerWidth ) == 'number' ) {
          //Non-IE
          myWidth = window.innerWidth;
          myHeight = window.innerHeight;
        } else if( document.documentElement && ( document.documentElement.clientWidth || document.documentElement.clientHeight ) ) {
          //IE 6+ in 'standards compliant mode'
          myWidth = document.documentElement.clientWidth;
          myHeight = document.documentElement.clientHeight;
        } else if( document.body && ( document.body.clientWidth || document.body.clientHeight ) ) {
          //IE 4 compatible
          myWidth = document.body.clientWidth;
          myHeight = document.body.clientHeight;
        }
          var marginTop = (myHeight/2 - myWidth*proportion) + 'px';
          document.getElementById('ourslider1').style.marginTop= marginTop;
      
      window.onresize=function(){  
        if( typeof( window.innerWidth ) == 'number' ) {
          //Non-IE
          myWidth = window.innerWidth;
          myHeight = window.innerHeight;
        } else if( document.documentElement && ( document.documentElement.clientWidth || document.documentElement.clientHeight ) ) {
          //IE 6+ in 'standards compliant mode'
          myWidth = document.documentElement.clientWidth;
          myHeight = document.documentElement.clientHeight;
        } else if( document.body && ( document.body.clientWidth || document.body.clientHeight ) ) {
          //IE 4 compatible
          myWidth = document.body.clientWidth;
          myHeight = document.body.clientHeight;
        }
          var marginTop = (myHeight/2 - myWidth*proportion) + 'px';
          document.getElementById('ourslider1').style.marginTop= marginTop;
      };          

    script(src="/js/portfolio.js", type="text/javascript")
      
