@font-face {
    font-family: 'sanserifficregular';
    src: url('/css/fonts/sanseriffic-webfont.eot');
    src: url('/css/fonts/sanseriffic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/sanseriffic-webfont.woff') format('woff'),
         url('/css/fonts/sanseriffic-webfont.ttf') format('truetype'),
         url('/css/fonts/sanseriffic-webfont.svg#sanserifficregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'novablack';
    src: url('/css/fonts/nova_alt_black-webfont.eot');
    src: url('/css/fonts/nova_alt_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/nova_alt_black-webfont.woff') format('woff'),
         url('/css/fonts/nova_alt_black-webfont.ttf') format('truetype'),
         url('/css/fonts/nova_alt_black-webfont.svg#novablack') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'novabold';
    src: url('/css/fonts/nova_alt_bold-webfont.eot');
    src: url('/css/fonts/nova_alt_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/nova_alt_bold-webfont.woff') format('woff'),
         url('/css/fonts/nova_alt_bold-webfont.ttf') format('truetype'),
         url('/css/fonts/nova_alt_bold-webfont.svg#novabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'novaextrabold';
    src: url('/css/fonts/nova_alt_extrabold-webfont.eot');
    src: url('/css/fonts/nova_alt_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/nova_alt_extrabold-webfont.woff') format('woff'),
         url('/css/fonts/nova_alt_extrabold-webfont.ttf') format('truetype'),
         url('/css/fonts/nova_alt_extrabold-webfont.svg#novaextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'novalight';
    src: url('/css/fonts/nova_alt_light-webfont.eot');
    src: url('/css/fonts/nova_alt_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/nova_alt_light-webfont.woff') format('woff'),
         url('/css/fonts/nova_alt_light-webfont.ttf') format('truetype'),
         url('/css/fonts/nova_alt_light-webfont.svg#novalight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'novaregular';
    src: url('/css/fonts/nova_alt_regular-webfont.eot');
    src: url('/css/fonts/nova_alt_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/nova_alt_regular-webfont.woff') format('woff'),
         url('/css/fonts/nova_alt_regular-webfont.ttf') format('truetype'),
         url('/css/fonts/nova_alt_regular-webfont.svg#novaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'novasemibold';
    src: url('/css/fonts/nova_alt_semibold-webfont.eot');
    src: url('/css/fonts/nova_alt_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/nova_alt_semibold-webfont.woff') format('woff'),
         url('/css/fonts/nova_alt_semibold-webfont.ttf') format('truetype'),
         url('/css/fonts/nova_alt_semibold-webfont.svg#novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'novathin';
    src: url('/css/fonts/nova_alt_thin-webfont.eot');
    src: url('/css/fonts/nova_alt_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/nova_alt_thin-webfont.woff') format('woff'),
         url('/css/fonts/nova_alt_thin-webfont.ttf') format('truetype'),
         url('/css/fonts/nova_alt_thin-webfont.svg#novathin') format('svg');
    font-weight: normal;
    font-style: normal;
}

body,html{
  width:100%;
  height:100%;
  margin:0;
  padding:0;

}

#header {
      background: #bada55;
      color: white;
      font-family: Droid Sans;
      font-size: 18px;
      line-height: 1.6em;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      text-shadow: 0 1px 1px rgba(0,0,0,.2);
      width:100%;
      box-sizing:border-box;
    }






/*-------------------------------------
Margin-top Classes  
-------------------------------------*/

.mt-1{
  margin-top: 1%; 
}
.mt-2{
  margin-top: 2%; 
}
.mt-3{
  margin-top: 3%; 
}
.mt-4{
  margin-top: 4%; 
}
.mt-5{
  margin-top: 5%; 
}


.mb-1{
  margin-bottom: 1%; 
}
.mb-2{
  margin-bottom: 2%; 
}
.mb-3{
  margin-bottom: 3%; 
}
.mb-4{
  margin-bottom: 4%; 
}
.mb-5{
  margin-bottom: 5%; 
}


.ml-1{
  margin-left: 1%; 
}
.ml-2{
  margin-left: 2%; 
}
.ml-3{
  margin-left: 3%; 
}
.ml-4{
  margin-left: 4%; 
}
.ml-5{
  margin-left: 5%; 
}


.mt-10{
  margin-top: 10%; 
}

.mt-15{
  margin-top: 15%; 
}
.mt-20{
  margin-top: 20%; 
}
.mt-25{
  margin-top: 25%; 
}
.mt-30{
  margin-top: 30%; 
}
.mt-35{
  margin-top: 35%; 
}
.mt-40{
  margin-top: 40%; 
}
.mt-45{
  margin-top: 45%; 
}
.mt-50{
  margin-top: 50%; 
}
.mt-55{
  margin-top: 55%; 
}
.mt-60{
  margin-top: 00%; 
}
.mt-65{
  margin-top: 65%; 
}
.mt-70{
  margin-top: 70%; 
}
.mt-75{
  margin-top: 75%; 
}
.mt-80{
  margin-top: 80%; 
}
.mt-85{
  margin-top: 85%; 
}
.mt-90{
  margin-top: 90%; 
}
.mt-95{
  margin-top: 95%; 
}

.mt-100{
  margin-top: 100%; 
}





.ml-5{
  margin-left: 5%; 
}
.ml-10{
  margin-left: 10%; 
}

.ml-15{
  margin-left: 15%; 
}
.ml-20{
  margin-left: 20%; 
}
.ml-25{
  margin-left: 25%; 
}
.ml-30{
  margin-left: 30%; 
}
.ml-35{
  margin-left: 35%; 
}
.ml-40{
  margin-left: 40%; 
}
.ml-45{
  margin-left: 45%; 
}
.ml-50{
  margin-left: 50%; 
}
.ml-55{
  margin-left: 55%; 
}
.ml-60{
  margin-left: 00%; 
}
.ml-65{
  margin-left: 65%; 
}
.ml-70{
  margin-left: 70%; 
}
.ml-75{
  margin-left: 75%; 
}
.ml-80{
  margin-left: 80%; 
}
.ml-85{
  margin-left: 85%; 
}
.ml-90{
  margin-left: 90%; 
}
.ml-95{
  margin-left: 95%; 
}

.ml-100{
  margin-left: 100%; 
}





.mb-5{
  margin-bottom: 5%; 
}
.mb-10{
  margin-bottom: 10%; 
}

.mb-15{
  margin-bottom: 15%; 
}
.mb-20{
  margin-bottom: 20%; 
}
.mb-25{
  margin-bottom: 25%; 
}
.mb-30{
  margin-bottom: 30%; 
}
.mb-35{
  margin-bottom: 35%; 
}
.mb-40{
  margin-bottom: 40%; 
}
.mb-45{
  margin-bottom: 45%; 
}
.mb-50{
  margin-bottom: 50%; 
}
.mb-55{
  margin-bottom: 55%; 
}
.mb-60{
  margin-bottom: 00%; 
}
.mb-65{
  margin-bottom: 65%; 
}
.mb-70{
  margin-bottom: 70%; 
}
.mb-75{
  margin-bottom: 75%; 
}
.mb-80{
  margin-bottom: 80%; 
}
.mb-85{
  margin-bottom: 85%; 
}
.mb-90{
  margin-bottom: 90%; 
}
.mb-95{
  margin-bottom: 95%; 
}

.mt-100{
  margin-bottom: 100%; 
}

/*-------------------------- 
 BEGIN Section
 -----------------------------*/



/*--------------------------  BEGIN Section-----------------------------*/



#screen1 {
    background: none repeat scroll 0% 0% #333;
    height: 100%;  
}

#screen2 {
    background: none repeat scroll 0% 0% #fff;
    height: auto;  
}
#screen3 {
    background: none repeat scroll 0% 0% #F1F0F0;
    height: auto; 
    z-index: 2;
}

#screen4 {
    background: none repeat scroll 0% 0% #B21E21 ;
    height: auto; 
    z-index: 2;
}

#screen5 {
    background: none repeat scroll 0% 0% #7B7B7B;
    height: 100%; 
    z-index: 2;
}

#screen6{
    background: none repeat scroll 0% 0% #333;
    height: 15%; 
    z-index: 2;
}

section {
  z-index: 80; 
}



/*--------------------------  END Section -----------------------------*/







/*--------------------------  BEGIN menu -----------------------------*/

.menuArgeda{
  position: fixed;
  top: 0px; 
  height: 90px; 
  text-align: center;
  float: left;
  width: 100%; 
  background-color: #fff;
  z-index: 5000; 
  border-bottom: 6px #B21E21 solid;
  overflow: hidden;
  }

#sticky{
  -webkit-transform: translateZ(0);
}

.sticky-wrapper{
  width: 100%;
}

.menuArgeda ul li a{
  color:#333;
  font-family: "sanserifficregular";
  letter-spacing: 7px;
  font-size: 0.8em;
  font-weight: 900; 
}

.menuArgeda ul li a:hover{
  color:#333 !important;
  background-color: transparent !important;
}

.linkMenu{
 margin-top: 20px !important; 
}

.square{
  background-color: #fff; 
  height:70px; 
  width:auto;
  padding: 7px; 
}

#centeredmenu {
   float:left;
   width:100%;
   background:#fff;
   overflow:hidden;
   position:relative;
}
#centeredmenu ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#centeredmenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}

.number{
  height: 30px; 
  width: 170px; 
  background-color: #B21E21; 
  position: fixed;
  top:75px;
  color: #fff; 
  font-family: "novalight"; 
  padding-top: 2px;
  padding-left: 1%; 
  margin-left: 75%;
  font-size: 1.05em;  
  z-index: 2; 
}




/*--------------------------------------------------------------------------------------
OFF CANVAS LEFT
  -------------------------------------------------------------------------------------*/

.menuMobile{
  display: none;
float: none;
position: fixed;
top: 0px;
z-index: 10;
background-color: #fff;  
border-bottom: 6px #B21E21 solid;
height: 50px; 
}



.logoMobile{
  background-color: #fff; 
  height:40px; 
  width:auto;
  margin-top: 5px; 

}




.menu-wrap nav a {
  color: #fff;
  font-size: 1em !important; 
  font-family: 'novabold';
  

}

.menu-wrap a:hover,
.menu-wrap a:focus {
  color: #701515;
  font-size: 1em !important; 
}


/* Menu Button */
.menu-button {
 
  z-index: 2000;
  padding: 0;
  width: 2.5em;
  height: 2.25em;
  border: none;
  text-indent: 2.5em;
  font-size: 1.5em;
  color: transparent;
  background: transparent;
}

.menu-button2{
 
  height: 50px; 
  width: 50px; 
  padding: 0;
  border: none;
  background: transparent;
}




.menu-button::before {
  position: absolute;
  
  background: linear-gradient(#fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%);
  content: '';
}

.menu-button:hover {
  opacity: 0.6;
}

/* Close Button */
.close-button {
  width: 2em;
  height: 2em;
  position: absolute;
  right: 1em;
  top: 1em;
  font-family: 'novathin'; 
  overflow: hidden;
  text-indent: 1em;
  font-size: 0.75em;
  border: none;
  background: transparent;
  color: #fff;
}

.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  background: #fff;
}

.close-button::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close-button::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Menu */
.menu-wrap {
  position: fixed;
  z-index: 1001;
  width: 320px;
  height: 100%;
  right: 0px; 
  background: #B21E21;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  top:0px; 
  -webkit-transform: translate3d(320px,0,0);
  transform: translate3d(320px,0,0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu, 
.icon-list {
  height: 100%;
}

.icon-list {

  text-align: left; 
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.icon-list a {
  display: block;

  -webkit-transform: translate3d(0,500px,0);
  transform: translate3d(0,500px,0);
}

.icon-list,
.icon-list a {
  -webkit-transition: -webkit-transform 0s 0.4s;
  transition: transform 0s 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.icon-list a:nth-child(2) {
  -webkit-transform: translate3d(0,1000px,0);
  transform: translate3d(0,1000px,0);
}

.icon-list a:nth-child(3) {
  -webkit-transform: translate3d(0,1500px,0);
  transform: translate3d(0,1500px,0);
}

.icon-list a:nth-child(4) {
  -webkit-transform: translate3d(0,2000px,0);
  transform: translate3d(0,2000px,0);
}

.icon-list a:nth-child(5) {
  -webkit-transform: translate3d(0,2500px,0);
  transform: translate3d(0,2500px,0);
}

.icon-list a:nth-child(6) {
  -webkit-transform: translate3d(0,3000px,0);
  transform: translate3d(0,3000px,0);
}

.icon-list a span {
  margin-left: 10px;
  font-weight: 700;
}

/* Shown menu */
.show-menu .menu-wrap {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .icon-list,
.show-menu .icon-list a {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .icon-list a {
  -webkit-transition-duration: 0.9s;
  transition-duration: 0.9s;
}

.show-menu .content::before {
  opacity: 1;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}




/*--------------------------  END menu -----------------------------*/










/*--------------------------  BEGIN Section#1 home -----------------------------*/


@import url(//fonts.googleapis.com/css?family=Oswald:400);

.full{
  width: 100%;
  height: auto; 
}

.logoIntro{
  height: 230px; 
  margin-top: 20%; 
}

.introArgeda{
 
}

.introText{
color: #FFF;
font-family: "novasemibold";
padding: 10px;
letter-spacing: 1px !important;
font-size: 1.2em;
text-align: justify;
text-transform: uppercase;



}

.ourServices{
  height: 40px; 
  background-color: #B21E21; 
  font-family: "novabold"; 
  text-align: center;
  padding-top: 6px; 
  color: #fff; 
  text-decoration: none; 
  transition: background-color 0.3s ease-in-out 0s, box-shadow 0.3s ease-in-out 0s; 

}


.ourServices:visited,
.ourServices:focus{
  text-decoration: none; 
  background-color: #B21E21; 
  color: #FFF; 
  
}

.ourServices:hover{

  background-color: #fff; 
  color: #B21E21; 
  text-decoration: none; 
}


  

/*--------------------------  END Section#1 home -----------------------------*/




/*--------------------------  BEGIN Section#2 WHY -----------------------------*/

#one{
  background-color: #B21E21; 
  height: 40px; 
  font-family: "novabold";
  border: 0px #B21E21 solid;
  font-size: 1.3em; 
  letter-spacing: 1px; 
  color: #fff; 
  transition: background-color 0.3s ease-in-out 0s, box-shadow 0.3s ease-in-out 0s; 
}

#two{
  background-color: transparent; 
  height: 40px; 
  color: #333; 
  font-family: "novalight";
  letter-spacing: 1px; 
  border: 2px #B21E21 solid;
  font-size: 1.3em; 
  transition: background-color 0.3s ease-in-out 0s, box-shadow 0.3s ease-in-out 0s; 

}

#two:hover{
  background-color: #7A1117; 
  color: #fff;
  font-family: "novaregular"; 
}

#one:hover{
  background-color: #fff; 
  color: #333; 
}



.contText3{
  font-family: 'novaregular'; 
  color: #333; 
  font-size: 1.1em;

}

.why{
  padding: 8%; 
}



/*--------------------------  END Section#2 WHY -----------------------------*/





/*--------------------------  BEGIN Section#3 Services -----------------------------*/


.service{
text-align: justify;
padding-left: 8%; 
}

.service hr{

    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

}

.service img{
  height: 80px; 
}

.service a{

  color: #B21E21; 
  font-family:"novaregular"

}

.serviceTitle{

font-size: 1.2em;
font-family: "novabold" !important; 
transition: background-color 0.3s ease-in-out 0s, box-shadow 0.3s ease-in-out 0s; 
}

.serviceTitle:hover{

  text-decoration: none; 
  opacity: 0.8; 
}


/*--------------------------  END Section#3 Services -----------------------------*/


/*--------------------------  BEGIN Section#4 fotter letswork -----------------------------*/

.footTitle{
  color: #fff; 
  font-family: "novasemibold";
  font-size: 1.3em; 
  text-transform: uppercase; 
  text-align: center;
 
}




.footTitle p{
  float: left;
  width: 100%; 

}

.footTitle:hover{
  color: #912C2C; 
}

/*--------------------------  BEGIN Section#4 Clients -----------------------------*/



.columnC2{
  height: 100%; 
  z-index: 3; 
}

.columnC1{
  height: 100%; 
  background-color: #fff;
  background-image: url("http://s5.postimg.org/cl1gtlqtz/our_Clients.jpg");
  background-size: auto 100%; 
  background-position: 60%; 
  z-index: 3; 
  -webkit-box-shadow: 26px -1px 80px -19px rgba(0,0,0,0.82);
  -moz-box-shadow: 26px -1px 80px -19px rgba(0,0,0,0.82);
  box-shadow: 26px -1px 80px -19px rgba(0,0,0,0.82);

}

.testimonios{ 
  margin-top: 26%;
}

.row1{  
  float: left;
  width: 100%; 
  text-align: center; 
}

.row2{
  float: left;
  width: 100%; 
  text-align: center; 
}

.client{
  float: left; 
}

.client img{
  width: 150px;
  height:150px;
  opacity: 0.5; 
}

.testimonio{
  font-size: 14px; 
  color: #fff; 
  opacity: 0.5; 

}

.contTitle4{
  font-family: 'novabold'; 
  color: #FFFFFF;
  opacity: 0.8;   
}

.forja2{
  margin-top: 5%; 
  opacity: 0.8;
  font-family: 'novasemibold';   
}

.lets{
letter-spacing: 1px;
font-family: "novabold" !important;
text-align: center !important;
color: #8C1C1C !important; 
}


/*--------------------------  END Section#4 Clients -----------------------------*/














/*--------------------------  BEGIN Section#5 Contact  -----------------------------*/

.columnCon{
  height: 100%;
  background-color: #fff;  
  float: left; 
  z-index: 4; 
  background-image: url("http://s5.postimg.org/6i9kr40lz/contact2.png");
  background-size: auto 100%;
  background-position: 92%;  

  

}

.columnCon2{
  height: 100%;
  background-color: #fff; 
  z-index: 4; 

}

.contactHero{
  margin-top: 45%;
}



.columnSocial2{
  height: 100%;
  background-color: #DEDEDE; 
  text-align: center; 
  transition: background-color 0.3s ease-in-out 0s, box-shadow 0.3s ease-in-out 0s; 
}

.columnSocial2:hover{
  background-color: #fff;

}


.form{
  margin-top: 45%; 
}

.fieldContact{
  display: block;
  font-family: 'novasemibold'; 
  width: 100%;
  height: 45px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #333;
  background-color: rgba(255,255,255, 0.8);
  padding: 10px;
  border: solid 4px #CECECE;
  transition: border 0.3s
  background-image: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.textArea{
  height: 120px !important; 
}

.fieldContact:focus,
.fieldContact.focus{
  border: solid 4px #B21E21; 
}


.boton{
  width: 50%; 
  height: 45px; 
  font-family: 'novabold'; 
  background-color: #D5D5D5;
  color: #fff; 
  border-radius: 0px !important; 
  letter-spacing: 2px !important; 
  font-size: 160% !important;  
  border: solid 0px rgba(0, 0, 0, 0.2) !important;
  transition: background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s; 
}


.boton:hover{
  background-color: #D13638; 
  color: #fff; 
  opacity: 1; 
}


.socialIconBar{
  height: 100%; 
  width: 100%;
  opacity: 0.9; 

}

.socialIconBar2{
  height: 22px; 
  width: 22px;
  margin-top: 7%;

  
}

.socialIconBar2:hover{ 
}


/*--------------------------  END  HOME Section#4 Contact  -----------------------------*/


/*-------------------------- BEGIN  Contact  -----------------------------*/

#screen1Contact{
  background-color: #F1F1F1; 
  height: 75%; 
}


.c1{
  
  height: auto;  
  padding: 7%
}

.c1 h1{
  letter-spacing: 5px; 
  font-family: "novaextrabold";

}

.c2{
  border-left: solid 1px #DBDBDB;
  background-color: #fff; 
  height: 100%;  
  padding: 3%

 
}

.c2 h4{
  letter-spacing: 5px; 
  font-family: "novaextrabold";
  color: #B21E21; 

}

.c2 h5{
 
  font-family: "novaregular";
  color: #333; 

}

.contactInfo{
    margin-top: 50%;
}


/*-------------------------- END  Contact  -----------------------------*/





/*-------------------------- BEGIN  SERVICES  -----------------------------*/

#screen1Service{
  background-color: #F1F1F1; 
  height: 90%; 

}


.c1{
  
  height: auto;  
  padding: 7%
}

.c2service h3{
  letter-spacing: 5px; 
  font-family: "novaextrabold";
  color: #AFAFAF; 

}

.c2service{
  border-left: solid 1px #DBDBDB;
  background-color: #fff; 
  height: 90%;  
  padding: 4%;

 
}

.c2 h4{
  letter-spacing: 5px; 
  font-family: "novaextrabold";
  color: #B21E21; 

}

.c2 h5{
 
  font-family: "novaregular";
  color: #333; 

}

.contactInfo{
    margin-top: 50%;
}

.serviceTitle{
  height: 10%; 
  background-color: #fff; 
  margin-top: 7%;
  border-bottom: solid 1px #DBDBDB;
}

.serviceTitle h1{
  letter-spacing: 5px; 
  font-family: "novaextrabold";
  text-align: center;
}


.s1{
  background-color: #333; 
  height: 90%; 
  padding-right: 0px;

  padding-left: 0px;
}

.s2{
  background-color: #888; 
  height: 25%; 
}

.s3{
  background-color: #3345Bc; 
  height: 25%; 
}

.s4{
  background-color: #000; 
  height: 25%; 
}

.s5{
  background-color: #030; 
  height: 25%; 
}



/* Vertical Accordion Style */
.va-container{
  position:relative;
 
}
.va-wrapper{
  width:100%;
  height:100%;
  position:relative;
  overflow:hidden;
  background:#000;
}
.va-slice{
  cursor:pointer;
  position:absolute;
  width:100%;
  left:0px;
  overflow:hidden;
}


.va-slice:hover h3{
  opacity: 1; 

}


.va-slice-1{
  background:#000 url(/img/1.png) no-repeat center center;
}
.va-slice-2{
  background:#000 url(../img/2.png) no-repeat center center;
}
.va-slice-3{
  background:#000 url(../img/3.png) no-repeat center center;
}
.va-slice-4{
  background:#000 url(../img/4.png) no-repeat center center;
}
.va-slice-5{
  background:#000 url(../images/5.jpg) no-repeat center center;
}
.va-slice-6{
  background:#000 url(../images/6.jpg) no-repeat center center;
}
.va-slice-7{
  background:#000 url(../images/7.jpg) no-repeat center center;
}
.va-slice-color-1{
  background-color:#97c5eb;
}
.va-slice-color-2{
  background-color:#68ace5;
}
.va-slice-color-3{
  background-color:#0072cf;
}
.va-slice-color-4{
  background-color:#0039a6;
}
.va-slice-color-5{
  background-color:#00338e;
}
.va-slice-color-6{
  background-color:#002c76;
}
.va-slice-color-7{
  background-color:#002144;
}
.va-title{
  font-family: 'novabold';
  text-transform:uppercase;
  font-size:2em;
  margin-left:20px;
  color:#fff;
  text-shadow: 0px 0px 1px white;
  letter-spacing: 5px; 
  opacity: 0.5; 
  margin-top: 8%; 
  transition: opacity 0.3s ease-in-out 0s, box-shadow 0.3s ease-in-out 0s; 
}
.va-content{
  display:none;
  padding-left: 10%;
  padding-right: 10%; 
  padding-top: 10%; 

}

.va-content span{
  color: #fff; 
  opacity: 1; 

}

.va-content img{
  color: #fff; 
 height: 150px;  
}

.va-content hr{
  color: #fff; 
  opacity: 0.5; 
}

.va-slice p{
  font-size: 1.6em;
  font-style: italic;
  font-family:Georgia, serif;
  color: #EEEEEE;
}
.va-slice ul{
  margin-top:20px;
}
.va-slice ul li{
  float:left;
  margin:0px 2px;
}
.va-slice ul li a{
  color:#000;
  background:#eede2f;
  padding:3px 6px;
  font-size:14px;
  font-family:'PT Sans', sans-serif;
  text-transform:uppercase;
}
.va-slice ul li a:hover{
  background:#000;
  color:#fff;
  text-shadow:none;
}
.va-nav span{
  width:40px;
  height:25px;
  background:transparent url(/im/prev.png) no-repeat center center;
  position:absolute;
  top:-35px;
  left:50%;g
  margin-left:-20px;
  text-indent:-9000px;
  opacity:0.7;
  cursor:pointer;
  display:none;
  z-index:100;
}
.va-nav span.va-nav-next{
  background-image:url(../images/next.png);
  top:auto;
  bottom:-35px;
}
.va-nav span:hover{
  opacity:1.0;
}



/*-------------------------- END  SERVICES  -----------------------------*/









/*--------------------------  BEGIN Footer  -----------------------------*/


.footMenu{
  background-color: transparent !important;

}

.footMenu ul{
  margin-left: 29%; 
}

.footMenu ul li {

  float: left;
  list-style: none; 
  color: #fff; 
  font-family: "novaregular"; 
  margin-left: 4%; 
}

.footMenu ul li a {

  color: #fff; 
  opacity: 0.8; 

}


.footMenu ul li a:hover{

  text-decoration: none;
  opacity: 0.3; 

}


.info{
    border-left: 1px #C32518 solid;
    font-family: "novaregular";
    color: #fff; 
    font-size: 0.8em;
    line-height: 0.5em;
    letter-spacing: 1px;  
}

.info p {
  opacity: 0.8; 
}



.footerCan{  
  background-color: #7A1117;
  z-index: 50; 
}

.footerCont{
margin-top: 3%; 
}

.footerCopy{
 
  font-size: 0.9em; 
}

.footerTip{
  margin-top: 6%;
}

.footerSocial{
  margin-top: 3%;  
}



.arrow{
  height: 25px; 
  width: 25px; 
  opacity: 0.5; 
}

.socialIcon2{
  height: 22px; 
  width: 22px;  
}

.socialIcon:hover{
  opacity: 1; 
}

.inputFooter{
  padding: 10px !important;
  border: none !important;
  border-bottom: solid 2px #666161 !important;
  transition: border 0.3s !important;
  background-color: transparent;
  color: #fff !important;
  font-family: 'novaregular';  
}

.inputFooter:focus{
   border-bottom: solid 2px #969696  
}

.btnFooter{
  display: inline-block;
  
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  background-color: transparent;
  border: 4px solid #FFF;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  font-family: 'novabold'; 
  color: #fff; 
  letter-spacing: 2px;
  opacity: 0.5; 
}

.btnFooter:hover{
opacity: 1; 
}

.nText{
  font-family: 'novaregular'; 
  color: #4D4D4D;
  font-size: 1.45em;
  margin-bottom: 2%; 
  letter-spacing: 0.5px; 
}

/*--------------------------  END Footer  -----------------------------*/



/*-------------------------- 
Animations
  -----------------------------*/
.hidden2{
  opacity: 0;
}

.visible{
  opacity: 1;
}

/*-------------------------- 
Preloader
  -----------------------------*/

.logoLoader{
margin-left: 4%;
margin-top: 5%;
}


.spinner4 {
  width: 100px;
  height: 100px;
  background-color: #fff;
  -webkit-animation: rotateplane 2.2s infinite ease-in-out;
  animation: rotateplane 2.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

















/*--------------------------  Media queries -----------------------------*/



/*-------------------------- 
1024PX  
 -----------------------------*/
@media screen and (max-width :1024px){
  

/*HOME*/

  /*menu*/

  .menuArgeda{
    display: none;
  }

  .menuMobile{
    display:block; 
  }

  .number{
  
  top:55px;
  margin-left: 0%; 

}
/*--------------------------------------*/


/*FOOTER*/

.footMenu ul{
  margin-left: 27%; 
}


/*--------------------------------------*/


.c2service{
  height: auto;
  float: left; 
}




}



/*-------------------------- 
990PX
 -----------------------------*/
@media screen and (max-width :990px){

  /*HOME*/

  /*menu*/

   #one{
    font-size: 1.2em; 
  }


  #two{
    font-size: 1.2em; 
  }



/*--------------------------------------*/

/*FOOTER*/
.footTitle{
  padding-top:1%; 
}


.footMenu ul{
  margin-left: 22%; 
}

/*--------------------------------------*/

#screen1Contact{
  height:auto; 
}

.contactInfo{
    margin-top: 0%;
}

.serviceTitle{
  margin-top: 13%; 
}

}

/*-------------------------- 
768PX
 -----------------------------*/


@media screen and (max-width :768px){

  /*HOME*/

  /*why*/

  #one{
    font-size: 1.1em; 
  }


  #two{
    font-size: 1.1em; 
  }

.number{
  display: none; 
}

  


/*--------------------------------------*/

/*FOOTER*/


.footMenu ul{
  margin-left: 22%; 
}
/*--------------------------------------*/


#screen1Contact{
  height:auto; 
}

.contactInfo{
    margin-top: 0%;
}

}




/*-------------------------- 
660PX
 -----------------------------*/


@media screen and (max-width :600px){

  /*HOME*/

  /*menu*/

  #one{
    font-size: 1.1em; 
  }


  #two{
    font-size: 1.1em; 
  }

  .introText{
    font-size: 1em; 
    margin-bottom: 5%; 
  }  

   #screen1{
    height: auto; 
  }




/*--------------------------------------*/

/*FOOTER*/

.footMenu ul{
  margin-left: 15%; 
}

/*--------------------------------------*/

#screen1Contact{
  height:auto; 
}


.serviceTitle{
  margin-top: 20%; 

}


.serviceTitle h1{
  font-size: 1.8em;
  padding-bottom: 5% !important; 

}

.s1{
  height: 150%; 
}

}



/*-------------------------- 
480PX
 -----------------------------*/

@media screen and (max-width :480px){

.c1 h1{
  margin-top: 10%; 
}

}


/*-------------------------- 
320PX
 -----------------------------*/

@media screen and (max-width :320px){

  #screen1{
    height: 150%; 

  }

  #video-container{
    height: 150%; 
  }

.introText{
    font-size: 0.8em; 
    margin-bottom: 0%; 
  }  

 #screen1{
    height: 100%; 
  }
  .ourServices{
    font-size: 1.3em !important; 
  }


/*FOOTER*/

.footMenu ul{
  margin-left: -12%;
  font-size: 0.8em; 

}


/*--------------------------------------*/
 

#screen1Contact{
  height:auto; 
}

.c1 h1{
  margin-top: 25%; 
  font-size: 1.5em; 
}

.serviceTitle{
  margin-top: 20%; 
}


.serviceTitle h1{
  font-size: 1.8em;  
}

.va-title{
font-size: 1.5em; 

}

}