
@font-face {
    font-family: 'futurist_fixed-widthregular';
    src: url('/fonts/futrfw-webfont.eot');
    src: url('/fonts/futrfw-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/futrfw-webfont.woff') format('woff'),
         url('/fonts/futrfw-webfont.ttf') format('truetype'),
         url('/fonts/futrfw-webfont.svg#futurist_fixed-widthregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sanserifficregular';
    src: url('/fonts/sanseriffic-webfont.eot');
    src: url('/fonts/sanseriffic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/sanseriffic-webfont.woff') format('woff'),
         url('/fonts/sanseriffic-webfont.ttf') format('truetype'),
         url('/fonts/sanseriffic-webfont.svg#sanserifficregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'utsaahregular';
    src: url('/fonts/utsaah-webfont.eot');
    src: url('/fonts/utsaah-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/utsaah-webfont.woff') format('woff'),
         url('/fonts/utsaah-webfont.ttf') format('truetype'),
         url('/fonts/utsaah-webfont.svg#utsaahregular') format('svg');
    font-weight: normal;
    font-style: normal;
}